@import url('bootstrap/dist/css/bootstrap.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.custom-background {
    background-image: url(
        "https://source.unsplash.com/random/1000x500?informatique"
    ); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
.hover:hover{
    background-color: rgba(255, 255, 255, 0.411);
    box-shadow: 10px 5px 5px rgba(68, 37, 225, 0.133);
}

